.banner{
    background: url("../css/images/4988298.jpg") center center no-repeat;
    height: 50vh;
    position: relative;
    margin-top: 30px;
}


.banner__info{
    text-decoration: none;
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end
}