

.home__icon{
    object-fit: fill;
    width: 19%;
    margin: 40px 40px;
}

.home__link{
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -366px;
    bottom: 25px;
    left: 40px;
    right: 20px;
    height: 47.2vh;
    width: 77.5%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #ee7c69; */
    background-color: rgba(0,0,0,0.5);
    /* z-index: 2; */
  }

.home__link:hover .overlay {
    opacity: 1;
} 

.text-bloc{
    color: white;
    font-size: 20px;
    border: 2.5px solid white;
    padding: 5px 10px;
}

.text {
    color: white;
    font-size: 25px;
    margin-top: 10px;
  }